.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.mainPage header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: auto;
}

.mainPage header .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0rem;
  margin: 0;
  width: auto;
  height: auto;
}

.mainPage header .profile span {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: var(--main-light);
  text-decoration: none;
  letter-spacing: 1px;
}

.mainPage header .profile img {
  margin-left: 0.3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-accent);
  object-fit: cover;
}
/* ================================================================================ */
/* 1. Leaderboard                                                                   */
/* ================================================================================ */
.selectHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: auto;
}

.selectHeader .buttonWrapper .flashSlide {
  margin-top: 0 !important;
}
