/* =============================================================== */
/*  1. Footer                                                      */
/* =============================================================== */
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin: 0rem auto;
  height: auto;
  width: 100%;
  position: relative;
  padding: 5vw;
  padding-bottom: 4rem;
  background-color: #001322;
  border-top: 1px solid rgba(249, 249, 249, 0.227);
}

.footerContainer > img {
  width: 50%;
  height: auto;
}

.footerContainer ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 15px auto 0;
  max-width: 1024px;
  padding: 0 8px;
  position: relative;
  text-indent: none;
  text-align: left;
  font-size: 11px;
}

.footerContainer a.link {
  background: 0 0;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  color: silver;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 12px;
  text-decoration: none;
  white-space: nowrap;
}

.footerContainer .textFine {
  font-size: 11px;
  margin-top: 20px;
  color: silver;
  text-align: center;
}

@media only screen and (min-width: 1280px) and (max-width: 3072px) {
  .footerContainer > img {
    width: 10%;
    height: auto;
  }
}

/* =============================================================== */
/*  2. Page Header                                                 */
/* =============================================================== */

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: auto;
}

.pageHeader .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0rem;
  margin: 0;
  width: auto;
  height: auto;
}

.pageHeader .profile span {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: var(--main-light);
  text-decoration: none;
  letter-spacing: 1px;
}

.pageHeader .profile img {
  margin-left: 0.3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-accent);
  object-fit: cover;
}

/* Icon 4 */

.hb {
  height: 15px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 40px;
}

.hb span {
  display: block;
  position: absolute;
  height: 2px;
  width: 80%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hb span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hb span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hb span:nth-child(3) {
  top: 18px;
  width: 50%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hb.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  width: 80%;
}

.hb.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  width: 80%;
}

.hb.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 8px;
  width: 80%;
}

/* =============================================================== */
/*  3. Sidebar                                                     */
/* =============================================================== */
.sidebar {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow-y: scroll;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  min-height: -webkit-fill-available;
  background: radial-gradient(
    100% 100% at 100% 0%,
    rgb(234, 67, 67),
    rgb(218, 48, 48)
  );
  z-index: 2;
  clip-path: polygon(
    0 0,
    0 100%,
    70% 100%,
    70% 51%,
    69% 51%,
    69% 41%,
    70% 41%,
    70% 36%,
    78% 36%,
    78% 25%,
    92% 25%,
    92% 16%,
    84% 16%,
    84% 8%,
    73% 8%,
    73% 0%
  );
  transition: clip-path 1s ease, left 1.5s ease;
}

.sidebar.closed {
  left: -100%;
  clip-path: polygon(
    0 0,
    0 100%,
    65% 100%,
    65% 51%,
    65% 51%,
    65% 41%,
    65% 41%,
    65% 36%,
    65% 36%,
    65% 25%,
    65% 25%,
    65% 16%,
    65% 16%,
    65% 8%,
    65% 8%,
    65% 0%
  );
}

.sidebar .profile {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem;
  margin: 0rem auto;
  width: 100%;
  height: auto;
  max-height: 150px;
  padding: 1rem 1rem 1rem 0;
  margin-bottom: 3rem;
}

.sidebar h5 {
  font-weight: 100;
  color: #001322;
}

.sidebar .profile .avatar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #001322;
  margin-right: 1rem;
}

.sidebar .profile .avatar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--main-accent);
}

.sidebar .profile .name {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-top: 1.5rem;
}

.sidebar .profile .name span {
  color: aliceblue;
  font-weight: 100;
  background: #00132263;
  padding: 1px 2px;
  border-radius: 2px;
}

/*  Nav Menu                                                       */
/* =============================================================== */
.sidebar .nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem;
  margin: 0rem auto;
  width: 100%;
  height: 100%;
  flex: 1 1;
  flex-direction: column;
}

.sidebar .nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem;
  margin: 0rem auto;
  width: 100%;
  height: auto;
  padding: 1rem 1rem 1rem 0;
}
.sidebar .nav ul li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}

.sidebar .nav ul li a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 0rem;
  text-decoration: none;
}

.sidebar .nav ul .icon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: auto;
  padding: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #001322;
  margin-right: 0.5rem;
}

.sidebar .nav ul li a h5 {
  font-size: 15px;
}
