/* =============================================================== */
/*  1. Footer                                                      */
/* =============================================================== */
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin: 0rem auto;
  height: auto;
  width: 100%;
  position: relative;
  padding: 5vw;
  padding-bottom: 4rem;
  background-color: #001322;
  border-top: 1px solid rgba(249, 249, 249, 0.227);
}

.footerContainer > img {
  width: 50%;
  height: auto;
}

.footerContainer ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 15px auto 0;
  max-width: 1024px;
  padding: 0 8px;
  position: relative;
  text-indent: none;
  text-align: left;
  font-size: 11px;
}

.footerContainer a.link {
  background: 0 0;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  color: silver;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 12px;
  text-decoration: none;
  white-space: nowrap;
}

.footerContainer .textFine {
  font-size: 11px;
  margin-top: 20px;
  color: silver;
  text-align: center;
}

@media only screen and (min-width: 1280px) and (max-width: 3072px) {
  .footerContainer > img {
    width: 10%;
    height: auto;
  }
}

/* =============================================================== */
/*  2. Page Header                                                 */
/* =============================================================== */

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: auto;
}

.pageHeader .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0rem;
  margin: 0;
  width: auto;
  height: auto;
}

.pageHeader .profile span {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: var(--main-light);
  text-decoration: none;
  letter-spacing: 1px;
}

.pageHeader .profile img {
  margin-left: 0.3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-accent);
  object-fit: cover;
}
